html{
    height: 200vh;
}

body{
    font-family: 'Rubik';
}

.nav-item{
    background-color: rgb(124, 194, 124);
    text-align: center;
    width: 25%;
    font-size: 17px;
}

.nav-item:hover{
    background-color: rgb(92, 141, 92);
}

.nav-link {
    color: white;
    padding: 20px 10px;
}

.nav-link:hover {
    color: white;
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  }

@media only screen and (min-width: 777px) {
    .nav{
        padding-top: 30px;
        position: fixed;
        width: 100%;
    }
    .nav-item {
        width: 185px ;
    }

    .nav-link {
        padding: 20px 20px;
    }
    .nav-item{
        font-size: 20px;
    }
}